.contact-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
}
.contactLogo {
  max-height: 40px;
  width: auto;
}

.educationWrapper,
.certificateWrapper {
  margin-bottom: 13px;
}

.educationElement {
  padding-left: 0.5rem;
}

.educationHeader {
  text-transform: capitalize;
  font-size: 1rem;
  text-decoration: underline;
}

.educationElement .blockquote-footer::before {
  content: "";
}

.card-text-content {
  margin: 0;
  padding-left: 1rem;
}

.aboutCardList {
  padding-left: 0;
  list-style: none;
}

.aboutCardListItem {
  margin-bottom: 8px;
}

.cert_logo {
  width: 65px;
}
