@font-face {
  font-family: "titleFont";
  src: local("titleFont"),
    url("./fonts/SomethingLooksNaturalRegular.otf") format("opentype");
}

/* HEADER */
.appHeader {
  background-color: #282c34;
  min-height: 150px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLogo {
  max-width: 85px;
}

.appTitle {
  font-family: titleFont;
}
.appTitle h2 {
  font-size: calc(1rem + 0.9vw);
}

/* CONTENT */
.downloadPDF {
  background-color: transparent;
  border: 1px solid #777777;
  border-radius: 5px;
  min-width: 55px;
  margin: auto 8px;
}
.downloadPDF:hover {
  background-color: #777777;
  color: #dddddd;
}

.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

.card-header {
  background-color: #d0d3d6 !important;
}

/* FOOTER */
.footer-div {
  color: #ededed;
  background-color: #4f596d;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .appLogo {
    max-width: 150px;
  }
  .appHeader {
    min-height: 200px;
  }
}

/* Laptops */
@media screen and (min-width: 992px) {
  .appHeader {
    min-height: 250px;
    max-height: 250px;
  }

  .appTitle h2 {
    font-size: calc(1rem + 0.5vw);
  }
}

/* Desktops */
@media screen and (min-width: 1200px) {
}
