.experience {
}
.downloadWrapper {
  border: 1px solid grey;
  border-radius: 4px;
}

.downloadText {
  margin: 8px 0 0 0;
}

.experience-body {
  display: block;
}

.card-title .blockquote-footer::before {
  content: "";
}

.technicalStack {
  position: absolute;
  bottom: 0;
  background-color: #4f596d;
  color: #ededed;
  border-radius: 1px;
  width: 100%;
}
.technicalStackOpenBtn {
  width: 100%;
  background-color: #d0d3d6 !important;
  transition: 0.3s;
}

.technicalStackOpenBtn:hover {
  background-color: #4f596d !important;
  color: #ededed !important;
}

.technicalStackOpenBtn:hover .codeSlash {
  fill: #ededed !important;
}

.technicalStackCloseBtn {
  position: absolute;
  top: 13px;
  right: 13px;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .technicalStackOpenBtn {
    max-width: 250px;
    display: block !important;
    margin: auto;
  }
}

/* Laptops */
@media screen and (min-width: 992px) {
  .toggleHelp {
    display: none;
  }

  .experienceHeader .card-title,
  .experience-body {
    margin: 0 1rem;
  }

  .experienceHeader {
    padding: 1rem !important;
  }

  .experienceHeader .card-subtitle::before {
    content: "| ";
    margin: 0 1rem 0 0;
  }
}

/* Desktops */
@media screen and (min-width: 1200px) {
}
