.experience {
}

.experience-body {
  display: block;
}
.experience-title-dates::before {
  content: "\A";
  white-space: pre;
}
.card-title {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.technicalStack {
  position: absolute;
  bottom: 0;
  background-color: #4f596d;
  color: #ededed;
  border-radius: 1px;
  width: 100%;
}
.technicalStackOpenBtn {
  background-color: #d0d3d6 !important;
  transition: 0.3s;
}

.technicalStackOpenBtn:hover {
  background-color: #4f596d !important;
  color: #ededed !important;
}
.technicalStackCloseBtn {
  position: absolute;
  top: 13px;
  right: 13px;
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Laptops */
@media screen and (min-width: 992px) {
  .experience-body {
    display: block;
  }
  .experience-title-dates::before {
    content: " | ";
  }
}

/* Desktops */
@media screen and (min-width: 1200px) {
}
