.starred-item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.star {
  max-width: 18px;
}

.skillItem {
  list-style: none;
  display: inline;
}
.skillItem::after {
  content: ", ";
}
.skillItem:last-child::after {
  content: "";
}
