.App {
  max-width: 100vw;
  overflow: hidden;
}

.App-logo {
  display: none;
  width: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
}

.App-content {
}

/* Tablets */
@media screen and (min-width: 768px) {
  .App-logo {
    display: block;
  }
  .App-header {
    min-height: 200px;
  }
}

/* Laptops */
@media screen and (min-width: 992px) {
  .App-header {
    min-height: 250px;
    max-height: 250px;
  }
  .App-content {
    margin: 3em auto;
  }
}

/* Desktops */
@media screen and (min-width: 1200px) {
}
